@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(100, 100, 254);
    position: relative;
}

.logo a {
    text-decoration: none;
}

nav {
    height: 50px;
}

nav ul {
    height: 100%;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.container-line-list {
    width: 35px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.line-list {
    background-color: white;
    width: 25px;
    height: 2px;
    margin: 2.5px;
    transition: .5s;
}

.line-list-first, .line-list-th {
    margin-left: -2px;
}

.line-list-second {
    margin-right: -2px;
}

.line-list-second-translate {
    transform: translateX(130%);
    transition: .5s;
}

.line-list-first-rotage {
    transform: rotate(40deg);
    margin-bottom: -5px;
    transition: .5s;
}

.line-list-th-rotage {
    transform: rotate(-40deg);
    margin-top: -4px;
    transition: .5s;
}

/* media query */

@media screen and (max-width:800px) {
    .container-line-list {
        display: flex;
    }

    nav {
        position: absolute;
        top: 40px;
        right: 0;
        transform: translateX(100%);
        transition: .5s;
    }

    .nav-show {
        transform: translateX(0);
        transition: .5s;
    }
    
    nav ul {
        width: 300px;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(100, 100, 254);
    }

    nav ul li a {
        flex-direction: column;
    }
}